@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

*,*:before,*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	font-family: "Open Sans", sans-serif;
}

#profile-picture-form {
	width: 400px;
	margin: 200px auto;
}

.profile-picture-data {
	width: 100%;
	padding: 15px;
}

.profile-picture-data .invalid-profile-picture-upload {
	display: block;
}

.profile-picture-data .uploaded-image {
	width: 30%;
}

.profile-picture-data .profile-picture-preview-details {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.profile-picture-data .profile-picture-preview {
	margin-top:15px;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 2px solid #007bff;
	background-size: cover;
	background-position: center;
}

.profile-picture-data .profile-picture-preview-details .profile-picture-preview.invalid-profile-picture-size,
.profile-picture-data .profile-picture-preview-details .profile-picture-preview.invalid-profile-picture-sides-ratio {
	border: 2px solid rgb(248, 26, 26);
}

.submit-form-section {
	min-width: 100%;
	margin-top: 10px;
}

.submit-form-section input {
	display: block;
	margin: auto;
}

.success-message {
	position: fixed;
	width: 100%;
	text-align: center;
	top: 0;
}